body{color: rgb(67, 31, 112); 

}
h1{color: crimson; 
    font-size: 100px;
    font-weight: 900;



} 

.rakshitha 

{
    color: yellowgreen;
    font-size: 200px;
}

#raks-id

{
     color: blue;

}



p
{font-weight: 700;
    font-size: 30px;
    font-style: italic;
    text-transform: uppercase;

}